@import "./reset";
@import "./variables";

@function weights($weight_name){
    @return map-get($font-weights,$weight-name )
}

@mixin  flexCenter($direction){

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;

}

@mixin theme($light-theme:true) {
    @if $light-theme{
        background: lighten($ancient-color, 100%);
        color:darken($text-color,100%)

    }
    
}

@mixin mobile{
    @media (max-width:$mobile) {
        @content;
        
    }
}

body{
    background-color: $ancient-color;
    color:white;
    
}

.main
{
    @include flexCenter(row);
    width: 80%-40%;
    margin: 0 auto;
    #{&}_paragraph1{
        font-weight: weights(regular);
        &:hover{
            color: yellow;
        }
    }
    #{&}_paragraph2{
        @extend #{&}_paragraph1;

        &:hover{
            color:black;
        }
    }
    
    @include mobile{
        flex-direction: column;
    }
}

.light{
    @include theme(false)
}